@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #1A202C;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

/* Background elements for overall page glassmorphism */
body::before, body::after {
    content: '';
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    filter: blur(100px);
    opacity: 0.5;
    pointer-events: none;
}

body::before {
    top: -10%;
    left: -10%;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle, #FFA180 0%, transparent 70%);
}

body::after {
    bottom: -10%;
    right: -10%;
    width: 60vw;
    height: 60vw;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, transparent 70%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
}
